<meta charset="UTF-8">

<link rel="stylesheet" href="css/stylesheet.css" type="text/css">

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

<script src="js/index.js"></script>
<script src="js/brief.js"></script>
<script src="js/toggle.js"></script>
