<!DOCTYPE html>
<html>

  <head>
    <title>COVID-19.Tracker</title>
    include head.pug
  </head>
  <body onload="reload()">

    include nav.pug

    <div class="section">
      <div class="container has-text-centered">

        <!-- Header -->
        <h1 class="is-size-3">COVID-19.Tracker</h1>
        <h2 class="is-size-5 has-margin-30">A pandemic analysis tool.</h2>

        <!-- Brief Statistics -->
        <div class="brief">
          <p id="cases"></p>
          <p id="deaths"></p>
          <p id="recovered"></p>
        </div>

        <!-- Charts -->
        <div class="chart" id="chart">
          <canvas class="stats" id="covid" aria-label="Your browser does not support chart.js"></canvas>
        </div>

      </div>
    </div>

  <script src="js/top10.js"></script>
  </body>

</html>
