<!DOCTYPE html>
<html>

  <head>
    <title>COVID-19.Tracker</title>
    include head.pug
  </head>
  <body>

    include nav.pug

    <div class="section">
      <div class="container has-text-centered">

        <!-- Header -->
        <h1 id="header" class="is-size-1">COVID-19.Tracker</h1>
        <h2 id="subheader" class="is-size-2 has-margin-30">A pandemic analysis tool.</h2>

        <!-- Charts -->
        <div class="cases-chart" id="cases_chart">
          <canvas class="cases-canvas" id="cases_canvas" aria-label="Your browser does not support chart.js"></canvas>
          <input type="range" min="10" value="10" step="10" class="slider" id="slider">
          <p class="country-number"></p>
        </div>

      </div>
    </div>

    <script src="js/total.js"></script>

  </body>

</html>
