<!DOCTYPE html>
<html>

  <head>
    <title>COVID-19.Tracker</title>
    include head.pug
  </head>
  <body>

    include nav.pug

    <div class="section">
      <div class="container has-text-centered">

        <!-- Header -->
        <h1 id="header" class="is-size-1">COVID-19.Tracker</h1>
        <h2 id="subheade" class="is-size-2 has-margin-30">The Developers</h2>

        <!-- Brief Statistics -->
        <div class="brief">
          <p id="cases"></p>
          <p id="deaths"></p>
          <p id="recovered"></p>
        </div>

        <!-- Developers -->

        <!-- EDWARD -->
        <div class="columns is-gapless">
          <div class="column">
            <div class="card">
              <header class="card-header">
                <p class="card-header-title">
                  Component
                </p>
                <a href="#" class="card-header-icon" aria-label="more options">
                  <span class="icon">
                    <i class="fas fa-angle-down" aria-hidden="true"></i>
                  </span>
                </a>
              </header>
              <div class="card-content">
                <div class="content">
                  <h1>Edward Pasenidis</h1>
                  <h4>I am trying to learn computer science!</h4>
                  <a href="#">@pasenidis</a> | <a href="#">#computerscience</a> | <a href="#">#opensource</a>
                  <br>
                </div>
              </div>
              <footer class="card-footer">
                <a href="https://twitter.com/EdwardPasenidis" class="card-footer-item">Twitter</a>
                <a href="https://github.com/pasenidis" class="card-footer-item">GitHub</a>
                <a href="https://discord.gg/6Egc3hz" class="card-footer-item">Discord</a>
              </footer>
            </div>
          </div>



          <!-- LEAN -->
          <div class="column">
            <div class="card">
              <header class="card-header">
                <p class="card-header-title">
                  Component
                </p>
                <a href="#" class="card-header-icon" aria-label="more options">
                  <span class="icon">
                    <i class="fas fa-angle-down" aria-hidden="true"></i>
                  </span>
                </a>
              </header>
              <div class="card-content">
                <div class="content">
                  <h1>Tasos</h1>
                  <h4> &lt;insert amazing quote here&gt; </h4>
                  <a href="#">@LeanDev</a> | <a href="#">#computerscience</a> | <a href="#">#opensource</a>
                  <br>
                </div>
              </div>
              <footer class="card-footer">
                <a href="https://google.com" class="card-footer-item">Website</a>
                <a href="https://github.com/TasosY2K" class="card-footer-item">GitHub</a>
                <a href="https://xn--rihy934p.ws/discord" class="card-footer-item">Discord</a>
              </footer>
            </div>
          </div>

        </div>




      </div>
    </div>

  </body>

</html>
