<!DOCTYPE html>
<html>

  <head>
    <title>COVID-19.Tracker</title>
    include head.pug
  </head>
  <body>

    include nav.pug

    <div class="section">
      <div class="container has-text-centered">

        //- Header
        <h1 id="header" class="is-size-1">COVID-19.Tracker</h1>
        <h2 id="subheader" class="is-size-2">A pandemic analysis tool.</h2>
        <h2 id="subheader" class="is-size-3" style="margin-top: 4%; margin-bottom: 5%;">The Developers <i class="las la-terminal"></i></h2>

        //- Developers

        //- EDWARD
        <div class="column">
          <div class="card card-2" style="border-radius: 15px;">
            <div class="card-content">
              <div class="media">
                <div class="media-left">
                  <figure class="image is-48x48">
                    <img class="is-rounded" src="https://avatars3.githubusercontent.com/u/29873078?s=460&u=8dc8786fa27e1e5a41c3b7ebc4ac4ee19167a84a&v=4">
                  </figure>
                </div>
                <div class="media-content">
                  <p class="title is-4">Tasos Meletlidis</p>
                  <p class="subtitle is-6">(Lean)#0108</p>
                </div>
              </div>
              <div class="content" style="border-top: 1px solid #ededed; padding-top: 10px;">
                <span>Contribute to feel like a better person</span>
                <br><br>
                <a>#stayhome</a> <a>#getbaked</a>
              </div>
            </div>
            <footer class="card-footer">
              <a href="http://l34nd3v.com/" target="_blank" class="card-footer-item">Website</a>
              <a href="https://github.com/TasosY2K" target="_blank" class="card-footer-item">GitHub</a>
              <a href="https://discord.gg/chBXtHs" target="_blank" class="card-footer-item">Discord</a>
            </footer>
          </div>
        </div>

          //- LEAN
          <div class="column">
            <div class="card card-1" style="border-radius: 15px;">
              <div class="card-content">
                <div class="media">
                  <div class="media-left">
                    <figure class="image is-48x48">
                      <img class="is-rounded" src="https://avatars2.githubusercontent.com/u/40323691?s=460&u=1f2ee290eb85881ae1adc345254f272ae1b443ce&v=4">
                    </figure>
                  </div>
                  <div class="media-content">
                    <p class="title is-4">Edward Pasenidis</p>
                    <p class="subtitle is-6">@pasadenidis</p>
                  </div>
                </div>
                <div class="content" style="border-top: 1px solid #ededed; padding-top: 10px;">
                  <span>I am trying to learn computer science!</span>
                  <br><br>
                  <a>@pasadenidis</a>
                  <a>#computerscience</a> <a>#opensource</a>
                </div>
              </div>
              <footer class="card-footer">
                <a href="https://twitter.com/EdwardPasenidis" target="_blank" class="card-footer-item">Twitter</a>
                <a href="https://github.com/pasenidis" target="_blank" class="card-footer-item">GitHub</a>
                <a href="https://discord.gg/6Egc3hz" target="_blank" class="card-footer-item">Discord</a>
              </footer>
            </div>
          </div>

        </div>
      </div>
    </div>

  </body>

</html>
