<!DOCTYPE html>
<html>

  <head>
    <title>COVID-19.Tracker</title>
    include head.pug
  </head>
  <body>

    include nav.pug

    <div class="section">
      <div class="container has-text-centered">

        //- Header
        <h1 id="header" class="is-size-1">COVID-19.Tracker</h1>
        <h2 id="subheader" class="is-size-2 has-margin-30">A pandemic analysis tool.</h2>

        //- Brief
        <div class="brief"></div>

        //- Charts
        <div class="chart" id="chart">
          <canvas class="stats" id="covid" aria-label="Your browser does not support chart.js"></canvas>
        </div>

      </div>
    </div>

  <script src="js/home.js"></script>
  </body>

</html>
