<!DOCTYPE html>
<html>

  <head>
    <title>COVID-19.Tracker</title>
    include head.pug
  </head>
  <body>

    include nav.pug

    <div class="section">
      <div class="container has-text-centered">

        //- Header
        <h1 id="header" class="is-size-1">COVID-19.Tracker</h1>
        <h2 id="subheader" class="is-size-2 has-margin-30">Information</h2>

        //- Brief Statistics
        <div class="brief">
          <p id="cases"></p>
          <p id="deaths"></p>
          <p id="recovered"></p>
        </div>

        //- Breaks
        <hr>

        <article id="warning" class="message is-warning is-medium">
        <div class="message-header">
          <p>Caution! A message from the creators of this website:</p>
        </div>
        <div class="message-body">
          <p>The situation is critical. The human species is on a war, a war with a foe it can't see. Consider reading the below information to know how to stay safe from the coronavirus, and remember: don't leave your home, facility or hotel if you are not permitted by the responsible agency. In Greece the violation fee is 150€! Be careful, users of our website...</p>
        </div>
      </article>

        //- Information
        <div class="content is-large">

        <div id="infos" class="columns infos">
          <div id="info1" class="column info">
            <p>Wash your hands often with soap and water for at least 20 seconds, especially before eating </p>
          </div>
          <div id="info2" class="column info">
            <p>Avoid close contact with people who are sick, even if they don't have any of the symptoms</p>
          </div>
          <div id="info3" class="column info">
            <p>Avoid touching your eyes, nose, and mouth. Every virus passes inside through these organs</p>
          </div>
        </div>

        <hr>

        <div class="columns infos">
          <div id="info4" class="column info">
            <p>Stay home / at your hotel / facility when you are sick, no matter the illness or the infection</p>
          </div>
          <div id="info5" class="column info">
            <p>Cover your cough or sneeze with a tissue, then throw the tissue in the trash</p>
          </div>
          <div id="info6" class="column info">
            <p>Clean and disinfect frequently touched objects and surfaces with special tools like Dettol</p>
          </div>
        </div>
        </div>
    </div>

  </body>

</html>
