<!DOCTYPE html>
<html>

  <head>
    <title>COVID-19.Tracker</title>
    include head.pug
  </head>
  <body>

    include nav.pug

    <div class="section">
      <div class="container has-text-centered">

        <!-- Header -->
        <h1 id="header" class="is-size-1">COVID-19.Tracker</h1>
        <h2 id="subheader" class="is-size-2 has-margin-30">Information</h2>

        <!-- Brief Statistics -->
        <div class="brief">
          <p id="cases"></p>
          <p id="deaths"></p>
          <p id="recovered"></p>
        </div>

        <!-- Breaks  -->
        <hr>

        <!-- Information !-->
        <div class="content is-large">
          <h3 class="subtitle is-3">Simple steps help stop the spread of COVID-19 and other viruses</h3>

          <!-- List of things to do -->
          <div class="content">
            <ol class="is-upper-alpha">
              <li>Wash your hands often with soap and water for at least 20 seconds, especially before eating. </li>
              <hr>
              <li>Avoid close contact with people who are sick, even if they don't have any of the symptoms</li>
              <hr>
              <li>Avoid touching your eyes, nose, and mouth.</li>
              <hr>
              <li>Stay home when you are sick.</li>
              <hr>
              <li>Cover your cough or sneeze with a tissue, then throw the tissue in the trash.</li>
              <hr>
              <li>Clean and disinfect frequently touched objects and surfaces.</li>
            </ol>
          </div>

        </div>
    </div>

  </body>

</html>
