<nav class="navbar is-dark">
  <div class="navbar-brand">
    <a class="navbar-item" href="/">COVID-19.Tracker&nbsp;<i class="las la-biohazard"></i></a>
  </div>
  <div class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item" href="/">Home</a>
      <a class="navbar-item" href="/countries">Total Countries</a>
      <a class="navbar-item" href="/developers">Developers</a>
    </div>
  </div>
  <div class="navbar-end">
    <div class="navbar-item">
      <div class="buttons">
        <a class="button is-primary refresh-btn">Refresh Data&nbsp;<i class="las la-redo-alt"></i></a>
        <a class="button is-light">Dark Mode&nbsp;<i class="las la-moon"></i></a>
        <a href="https://www.who.int/emergencies/diseases/novel-coronavirus-2019/advice-for-public" class="button is-light">Public Advice&nbsp;<i class="las la-heartbeat"></i></a>
      </div>
    </div>
  </div>
</nav>
