<nav class="navbar is-fixed-top">
  <div class="navbar-brand">
    <a class="navbar-item">COVID-19.Tracker</a>
    <a role="button" class="navbar-burger">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>
  <div class="navbar-menu" id="navMenu">
    <div class="navbar-start">
      <a class="navbar-item has-text-light" href="/">Home</a>
      <a class="navbar-item has-text-light" href="/countries">Total Countries</a>
      <a class="navbar-item has-text-light" href="/developers">Developers</a>
      <a class="navbar-item has-text-light" href="/info">Information</a>
    </div>
    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <a class="button is-primary refresh-btn">Refresh Data&nbsp;<i class="las la-redo-alt"></i></a>
          <a class="button is-light" id="darkmode_btn"></a>
        </div>
      </div>
    </div>
  </div>
</nav>
