body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    background-image: url();
}

a {
    color: #00B7FF;
}

.category {
    font-size: 25px;
}

hr {
    margin-left: 35%;
    margin-right: 35%;
}

p {
    font-size: 25px;
}

.sw {
    text-align: center;
}

.brief {
    font-weight: bold;
    font-size: 26px;
    text-align: center;
}

.switch, .reloader {
    background-color: #333;
    border: none;
    color: white;
    padding: 6px 19px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.switch:hover, .reloader:hover {
    background-color: #555555;
    color: white;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    margin: 0;
    padding: 0;
    float: left;
}

li a {
    margin: 0;
    padding: 0;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */

li a:hover {
    background-color: #111;
}

.chart {
    margin: 0;
}

/* WTF */

#video-background {
    /*  making the video fullscreen  */
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
}